* {
    margin: 0px;
    padding: 10px;
    border: none;
}

body {
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: blue;
    text-align: center;
}
/*
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, auto));
    grid-template-rows: repeat(12, minmax(50px, auto)); 
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid;
}*/

/* Logo */

/*.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid;
    
}*/
#logo {
    float: left;
    background: url(../images/RR\ Logo.JPG) no-repeat center center;
    background-size: 200%;
    
    padding: none;
    }


/* Heading */
/*.heading {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    border: 2px solid;    
}*/

#heading {
    float: center;
    font-size: 300%;
    margin-left: 80px;
    margin-right: 400px;
    background-color: rgb(7, 35, 156);
}

/* Nav */

/*.nav {
    grid-column: 8 / 11;
    grid-row: 1 / 2;
    border: 2px solid;   
}*/

#nav {
    font-size: 100%;
    letter-spacing: 2px;
    
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 10px;
    
}

#nav a {
    text-decoration: none;
    color: inherit;

}

#nav a:hover {
    border-bottom: 2px solid #3a3a3a;
}

.active {
    border-bottom: 2px solid #3a3a3a;   
}
/* Main image */

/*.main-image {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
    border: 2px solid;
}
*/
#main-image {
    height: 600px;
    width: 60%;
    background: url(../images/Bike\ under\ bridge.jpg) no-repeat center center;
}

/* Main Statement */

#statement {
font-size: 120%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 3px;

width: 300px;
height: 200px;

padding-top: 40px;
padding-left: 10px;

background-color: rgba(1, 13, 116, 0.6);

bottom: 400px;
right: 500px;

position: absolute;
}

#statement, #statement h2 {
    color
}


/*.statement {
    grid-column: 6 / 11;
    grid-row: 3 / 5;
    border: 2px solid;
}
*/
/* Relevent Picture */

/*.picture {
    grid-column: 1 / 4;
    grid-row: 6 / 9;
    border: 2px solid;
}*/
#picture {
    height: 200px;
    width: 30%;
    background: url(../images/Bikes\ on\ a\ bridge.jpg) no-repeat center center;
}


/* Picture Statement */

/*.description {
    grid-column: 4 / 11;
    grid-row: 6 / 9;
    border: 2px solid;
}
*/
#description {
    
}

/* About-on-main */

/*.about {
    grid-column: 1 / 11;
    grid-row: 9 / 10;
    border: 2px solid;
}
*/

/* Social Media */

/*.social-media {
    grid-column: 1 / 11;
    grid-row: 10 / 12;
    border: 2px solid;
}
*/
