* {
    margin: 0px;
    padding: 10px;
    border: none;
}

body {
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2 {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: blue;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, auto));
    grid-template-rows: repeat(12, minmax(50px, auto)); 
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid;
}
/* Logo */

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid;
    
}
#logo {
    
    background: url(../images/RR\ Logo.JPG) no-repeat center center;
    background-size: 100%;
    
    padding: none;
    }


/* Heading */
.heading {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    border: 2px solid;    
}

#heading {
   
    background-color: rgb(127, 150, 255);
}

/* Nav */

.nav {
    grid-column: 8 / 11;
    grid-row: 1 / 2;
    border: 2px solid;   
}

#nav {
    font-size: 100%;
    letter-spacing: 2px;
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 5px;
    
}

#nav a {
    text-decoration: none;
    color: inherit;


}
/*
#logo, #heading, #nav {
    line-height: 75px;
}
*/
/* Main image */

.main-image {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
    border: 2px solid;
}

/* Main Statement */

.statement {
    grid-column: 6 / 11;
    grid-row: 3 / 5;
    border: 2px solid;
}

/* Relevent Picture */

.picture {
    grid-column: 1 / 4;
    grid-row: 6 / 9;
    border: 2px solid;
}

/* Picture Statement */

.description {
    grid-column: 4 / 11;
    grid-row: 6 / 9;
    border: 2px solid;
}

/* About-on-main */

.about {
    grid-column: 1 / 11;
    grid-row: 9 / 10;
    border: 2px solid;
}

/* Social Media */

.social-media {
    grid-column: 1 / 11;
    grid-row: 10 / 12;
    border: 2px solid;
}

