* {
    margin: 0px;
    padding: 10px;
    border: none;
}

body {
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    color: #3a3a3a;
    background-image: url(../images/Bike\ under\ bridge.jpg);  /* The image used */
    background-color: rgba(0, 128, 0, 0.3); /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    }

h1, h2 {
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(251, 251, 253);
    text-align: center;
}
/*
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, minmax(50px, auto));
    grid-template-rows: repeat(12, minmax(50px, auto)); 
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid;
}*/

/* Logo */

/*.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid;
    
}*/
#logo {
    float: left;
    background: no-repeat center center;
    background-size: 80%;
    border-radius: 30px;
    position: relative;
    padding: none;

    }

#logo img {
        border-radius: 100px;
    }


/* Heading */
/*.heading {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    border: 2px solid;    
}*/

#heading {
    float: center;
    margin-left: 200px;
    margin-right: 450px;
    background-color: rgba(109, 175, 114, 0.6);
    border-radius: 100px;
    position: relative;
}
#heading-text {
    color: azure;
    font-size: 500%;
}
/* Nav */

/*.nav {
    grid-column: 8 / 11;
    grid-row: 1 / 2;
    border: 2px solid;   
}*/

#nav {
    font-size: 150%;
    letter-spacing: 2px;
    position: relative;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(59, 69, 110, 0.5);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

/* Main image */

/*.main-image {
    grid-column: 1 / 8;
    grid-row: 2 / 6;
    border: 2px solid;
}
*/
#main-image {
    height: 1500px;
    width: 150%;
       
}

/* Main Statement */

#statement {
font-size: 120%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
letter-spacing: 3px;

width: 300px;
height: 200px;

padding-top: 40px;
padding-left: 10px;

background-color: rgba(1, 13, 116, 0.6);
border-radius: 30px;
bottom: 400px;
right: 500px;

position: absolute;
}

#statement, #statement h2 {
    color:aliceblue;
}


/*.statement {
    grid-column: 6 / 11;
    grid-row: 3 / 5;
    border: 2px solid;
}
*/
/* Relevent Picture */

/*.picture {
    grid-column: 1 / 4;
    grid-row: 6 / 9;
    border: 2px solid;
}*/
#picture {
    height: 200px;
    width: 30%;
    background: url(../images/Bikes\ on\ a\ bridge.jpg) no-repeat center center;
}


/* Picture Statement */

/*.description {
    grid-column: 4 / 11;
    grid-row: 6 / 9;
    border: 2px solid;
}
*/
#description {

}

/* About-on-main */

/*.about {
    grid-column: 1 / 11;
    grid-row: 9 / 10;
    border: 2px solid;
}
*/

/* Social Media */

/*.social-media {
    grid-column: 1 / 11;
    grid-row: 10 / 12;
    border: 2px solid;
}
*/
/* About page styling */
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }